<p style="align: center;"><img align=center src="https://mailfit.com/wp-content/uploads/2019/11/lego-5.png"  width=900></p>
<h1 style="text-align: center;"><b>«Домашняя работа»</b></h3>

## Импорт Библиотек

In [ ]:
import numpy as np
import pandas as pd

import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

## Импорт данных

In [ ]:
data_path = "https://raw.githubusercontent.com/a-milenkin/mipt_data_science_2021/main/data/people_data_clustering.csv"
data = pd.read_csv(data_path, index_col=0)
print("Размеры датасета", data.shape)
data.head(6)

Размеры датасета (6000, 9)

,was_married,children,salary,sex,age,profession,home_cost,drive_info,happyness
id,,,,,,,,,
0,1,4.0,4.420530e+07,1,82.0,Engineer,1.003674e+07,NaN,0.727499
1,1,2.0,1.737490e+08,1,32.0,Doctor,1.014051e+07,0.0,0.383234
2,1,6.0,2.489055e+08,1,14.0,Entertainment,1.043318e+07,NaN,0.432142
3,0,1.0,1.268718e+08,0,10.0,Lawyer,1.004299e+07,NaN,0.377987
4,1,9.0,8.596042e+07,1,99.0,Artist,1.021908e+07,NaN,0.657579
5,1,3.0,2.474979e+06,0,21.0,Homemaker,1.001654e+07,1.0,0.326801

<div class="alert alert-info">
<b>Про Датасет</b>
    
Датасет представляет собой информацию по жителям некоторого города.

* `was_married` - Был ли когда-либо женат/замужем
* `children` - Количество детей
* `salary` - Уровень зарплаты
* `sex` - Пол (0 - женщина, 1 - мужчина)
* `age` - Возраст
* `home_cost` - Сумарная стоимость жилья/недвижимости
* `Professon` - Профессия
* `drive_info` - Есть ли водительские права
* `happyness` - уровень счастья по результатам опроса
    
</div>

<div class="alert alert-info">
<b>Задание</b>

Изучить датасет, выполнить задания и проверить некоторые гипотезы, предложенные ниже, используя только визуализацию.

# Чистка датасета
* Есть ли дубли в данных? Если есть - удалите их (drop_duplicates).
* Найти и удалить/отфильтровать выбросы по признаку `home_cost`. Таких точек около 5

In [ ]:
data = data.drop_duplicates()
data['zscore_home'] = stats.zscore(data['home_cost'])
data = data[(data['zscore_home'] < 3) & (data['zscore_home'] > -3)]

# Проверка гипотез

# Изучение датасета
* Какие признаки численные?
* Какие признаки категориальные?
* Какие признаки имеют нормальное распределение?
* Какие признаки бессмысленные?

<div class="alert alert-info">
    
Перед вами те же гипотезы, которые были в прошлом домашнем задании. Вы уже научились проверять эти утверждения визуально. Теперь же, помимо визуальной состовляющей вам еще нужно применить подходящий статистический критерий, чтобы окончательно доказать или опровергнуть гипотезы на снове этих данных. В качестве уровня значимости принять 5%

* Правда ли женщины в среднем имеют более высокую зарплату, чем мужчины?

In [ ]:
 sh_stats, sh_p_val = stats.shapiro(data['salary'][data['sex'] == 0])
 print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
 sh_stats, sh_p_val = stats.shapiro(data['salary'][data['sex'] == 1])
 print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')

Statistics = 0.6738607883453369, P_value = 0.0
Statistics = 0.8898751139640808, P_value = 0.0

Зарплаты распределены ненормально, t-тест не подойдёт

In [ ]:
mean_w = data['salary'][data['sex'] == 0].mean()
mean_m = data['salary'][data['sex'] == 1].mean()
print(f'Средняя зарплата женщин:{mean_w}')
print(f'Средняя зарплата мужчин:{mean_m}')
mw_stats, mw_p_val = stats.mannwhitneyu(data['salary'][data['sex'] == 0], data['salary'][data['sex'] == 1])
if mw_p_val < 0.05:
  print('Распределения разные, отвергаем нулевую гипотезу')
else:
  print('Разницы между распределниями нет, либо они незначительны')

Средняя зарплата женщин:57721198.99095336
Средняя зарплата мужчин:98385888.45746912
Распределения разные, отвергаем нулевую гипотезу

Мужчины получают в среднем больше

* Правда ли, что инженеры (Engineer) зарабатывают в среднем больше, чем люди из сферы развлечений (Entertainment)?

In [ ]:
sh_stats, sh_p_val = stats.shapiro(data['salary'][data['profession'] == 'Engineer'])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
sh_stats, sh_p_val = stats.shapiro(data['salary'][data['profession'] == 'Entertainment'])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')

Statistics = 0.9856693148612976, P_value = 4.934008757118136e-06
Statistics = 0.9927714467048645, P_value = 0.002547936514019966

Распределения не нормальные

In [ ]:
mean_ent = data['salary'][data['profession'] == 'Entertainment'].mean()
mean_eng = data['salary'][data['profession'] == 'Engineer'].mean()
print(f'Средняя зарплата инженеров:{mean_eng}')
print(f'Средняя зарплата людей из сферы развлечений:{mean_ent}')
mw_stats, mw_p_val = stats.mannwhitneyu(data['salary'][data['profession'] == 'Entertainment'], data['salary'][data['profession'] == 'Engineer'])
if mw_p_val < 0.05:
  print('Распределения разные, отвергаем нулевую гипотезу')
else:
  print('Разницы между распределниями нет, либо они незначительны')

Средняя зарплата инженеров:42162119.349546
Средняя зарплата людей из сферы развлечений:194005269.10805008
Распределения разные, отвергаем нулевую гипотезу

Люди из сферы развлечений в среднем получают больше

* Правда ли, что те, у кого больше трех детей зарабатывают в среднем больше, чем те, у кого меньше или трое детей?

In [ ]:
sh_stats, sh_p_val = stats.shapiro(data['salary'][data['children'] > 3])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
sh_stats, sh_p_val = stats.shapiro(data['salary'][data['children'] <= 3])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')

Statistics = 0.9363863468170166, P_value = 2.2102065930872708e-28
Statistics = 0.7600006461143494, P_value = 0.0

Распределение опять не нормальное, логарифмирование не помогло

In [ ]:
data['children_gr'] = data['children'].apply(lambda x: 'more than 3' if x > 3 else '3 or less')
boot_sal = []
for _ in range(1500):
  boot_mean = data.sample(frac = 1, replace = True).groupby('children_gr')['salary'].mean()
  boot_sal.append(boot_mean)
boot_sal = pd.DataFrame(boot_sal)
sh_stats, sh_p_val = stats.shapiro(boot_sal['more than 3'])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
sh_stats, sh_p_val = stats.shapiro(boot_sal['3 or less'])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
# Теперь распределения нормальные, проведём t тест
t_stats, t_p_val = stats.ttest_ind(boot_sal['more than 3'], boot_sal['3 or less'])
print(f'Statistics = {t_stats}, P_value = {t_p_val}')
if t_p_val < 0.05:
  print('Распределения разные, зарплаты отличаются')
else:
  print('Зарплаты значимо не отличаются')
mean_3ch = data['salary'][data['children'] > 3].mean()
mean_n_3ch = data['salary'][data['children'] <= 3].mean()
print(f"Средняя зарплата многодетных = {mean_3ch}, а остальных = {mean_n_3ch}")

Statistics = 0.9982776641845703, P_value = 0.12752118706703186
Statistics = 0.9988173246383667, P_value = 0.42375463247299194
Statistics = 1028.9896872306983, P_value = 0.0
Распределения разные, зарплаты отличаются
Средняя зарплата многодетных = 119206817.62367998, а остальных = 67451770.23724644

Зарплата многодетных выше в среднем

* Правда ли, что дома художники (Artist) живут в домах, которые в среднем дороже или дешевле, чем дома адвокатов (Lawyer)?

In [ ]:
sh_stats, sh_p_val = stats.shapiro(data['home_cost'][data['profession'] == 'Artist'])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
sh_stats, sh_p_val = stats.shapiro(data['home_cost'][data['profession'] == 'Lawyer'])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')

Statistics = 0.9975089430809021, P_value = 0.41669219732284546
Statistics = 0.9976368546485901, P_value = 0.46600648760795593

Распределения стоимости домов нормальные, используем t тест

In [ ]:
t_stats, t_p_val = stats.ttest_ind(data['home_cost'][data['profession'] == 'Artist'], data['home_cost'][data['profession'] == 'Lawyer'])
print(f'Statistics = {t_stats}, P_value = {t_p_val}')
if t_p_val < 0.05:
  print('Распределения разные, стоимости домов отличаются')
else:
  print('Стоимости домов значимо не отличаются')
mean_a = data['home_cost'][data['profession'] == 'Artist'].mean()
mean_l = data['home_cost'][data['profession'] == 'Lawyer'].mean()
if mean_a > mean_l:
  print('Дома художников в среднем дороже домов адвокатов')
elif mean_l > mean_a:
  print('Дома художников в среднем дешевле домов адвокатов')

Statistics = -10.422866126030229, P_value = 1.6456526985141669e-24
Распределения разные, стоимости домов отличаются
Дома художников в среднем дешевле домов адвокатов

* Правда ли, что недвижимость у тех, кто когда либо был в браке в среднем дороже, чем у тех, кто никогда не был в браке?

In [ ]:
sh_stats, sh_p_val = stats.shapiro(data['home_cost'][data['was_married'] == 0])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')
sh_stats, sh_p_val = stats.shapiro(data['home_cost'][data['was_married'] == 1])
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')

Statistics = 0.9987901449203491, P_value = 0.7847692966461182
Statistics = 0.30959802865982056, P_value = 0.0

/usr/local/lib/python3.10/dist-packages/scipy/stats/_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

В распределении домов людей, которые состояли в браке есть выбросы, из-за чего распределение не нормальное, уберём выбросы

In [ ]:
data['zscore_home'] = stats.zscore(data['home_cost'])
data_new = data[(data['zscore_home'] < 3) & (data['zscore_home'] > -3)]
sh_stats, sh_p_val = stats.shapiro(np.log2(data_new['home_cost'][data_new['was_married'] == 1]))
print(f'Statistics = {sh_stats}, P_value = {sh_p_val}')

Statistics = 0.9930675029754639, P_value = 5.82152361527314e-15

/usr/local/lib/python3.10/dist-packages/scipy/stats/_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

Даже без выбросов распределение не нормальное

In [ ]:
mean_m = data['home_cost'][data['was_married'] == 1].mean()
mean_no_m = data['home_cost'][data['was_married'] == 0].mean()
print(f'Средняя стоимость домов в браке:{mean_m}')
print(f'Средняя стоимость домов не в браке:{mean_no_m}')
mw_stats, mw_p_val = stats.mannwhitneyu(data['home_cost'][data['was_married'] == 1], data['home_cost'][data['was_married'] == 0])
if mw_p_val < 0.05:
  print('Распределения разные, отвергаем нулевую гипотезу')
else:
  print('Разницы между распределниями нет, либо они незначительны')

Средняя стоимость домов в браке:10175852.353166087
Средняя стоимость домов не в браке:10277031.34112589
Распределения разные, отвергаем нулевую гипотезу

Средняя стоимость домов тех, кто не был в браке выше, разница есть

* Правда ли, что мужчины в среднем чаще бывают в браке, чем женщины?

**Подсказка** - Составьте матрицу смежности и воспользуйтесь критерием хи-квадрат из библиотеки scipy

In [ ]:
data_piv = data.pivot_table(index = 'sex', columns = 'was_married', values = 'age', aggfunc = 'count')
data_piv.rename(columns = {0: 'was not married', 1: 'was married'})
chi2, p, dof, expected = stats.chi2_contingency(data_piv)
if p <0.05:
  print('Зависимость наличия брака от пола есть')
else:
  print('Зависимость наличия брака от пола нет')
mean_m  = data['was_married'][data['sex'] == 1].mean()
mean_w  = data['was_married'][data['sex'] == 0].mean()
print(f'Процентное соотношение мужчин в браке:{mean_m}, процентное соотношение женщин в браке:{mean_w}')

Зависимость наличия брака от пола есть
Процентное соотношение мужчин в браке:0.9299924452279023, процентное соотношение женщин в браке:0.6697880729423361

Правда ли, что женщины с зарплатой выше медианной в среднем более счастливые, чем мужчины с зарплатой, которая выше средней?

In [ ]:
data_rich = data[(((data['sex'] == 0) & (data['salary'] > data[data['sex'] == 0]['salary'].median())) | ((data['sex'] == 1) & (data['salary'] > data[data['sex'] == 1]['salary'].mean())))]
data_rich1 = data_rich.pivot_table(index = 'sex', values = 'happyness', aggfunc = 'mean')
chi2, p, dof, expected = stats.chi2_contingency(data_rich1)
if p <0.05:
  print('Зависимость уровня счастья от пола есть')
else:
  print('Зависимость уровня счастья от пола нет')

Зависимость уровня счастья от пола нет