In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('kc_house_data (1).csv', sep = ',')

FileNotFoundError: [Errno 2] No such file or directory: 'kc_house_data (1).csv'

In [ ]:
df.tail(30)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [ ]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

In [ ]:
mean_sqft = df['sqft_living']/df['sqft_lot']

In [ ]:
mean_sqft.mean()

0.3237447254204737

In [ ]:
df['condition']

0        3
1        3
2        3
3        5
4        3
        ..
21608    3
21609    3
21610    3
21611    3
21612    3
Name: condition, Length: 21613, dtype: int64

In [ ]:
df[df['floors'] >= 2]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df['condition'].mean()

3.4094295100171195

In [ ]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

In [ ]:
df[df['bedrooms']==2]['price'].mean()

401372.681884058

In [ ]:
df[df['price']>= 600000]['sqft_lot'].mean()

20454.783537543197

In [ ]:
df[df['yr_renovated'] != 0]['id'].count()

914

In [ ]:
grade_dif = (df[df['grade']>=10]['price'].mean())-(df[df['grade']<=4]['price'].mean())

In [ ]:
grade_dif

1046589.4030340074

In [ ]:
df[(df['waterfront']==1)&(df['bathrooms']>=3)&(df['sqft_basement']!=0)]['id'].count()

41

In [ ]:
df[((df['grade']>= 7)|(df['waterfront']!=0)) & (df['yr_built']>=1980)&(df['condition']>3)]['price'].min(), df[((df['grade']>= 7)|(df['waterfront']!=0)) & (df['yr_built']>=1980)&(df['condition']>3)]['price'].max()

(149900.0, 5300000.0)

In [ ]:
df[(df['floors']==2) & (df['sqft_basement']==0)&(df['price']<=150000)]['condition'].mean()

3.0